"*":
  "atom-beautify":
    general:
      _analyticsUserId: "786ec94e-c49f-4e68-9a62-ae9f01e3f6e7"
  core:
    autoHideMenuBar: true
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "atom-sublime-monokai-syntax"
    ]
  editor:
    fontSize: 18
    scrollPastEnd: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "114fd7b2-8a4b-4973-9460-742655b9418c"
  welcome:
    showOnStartup: false
